@font-face {
  font-family: 'SariaVariable';
  src: url('../assets/fonts/Saira-VariableFont_wdth\,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'SariaVariable', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

* {
  font-family: 'SariaVariable', sans-serif;
}

:root {
  /* Default theme */
  --color-background: hsl(0, 0%, 30%);
  --color-primary: hsl(0, 0%, 60%);
  --color-secondary: hsl(0, 0%, 80%);
  --color-text: hsl(0, 0%, 100%);
  --color-text-link: hsl(0, 0%, 100%);
  --color-text-link-visited: hsl(61, 29%, 68%);
}

.site-wrapper {
  background-color: var(--color-background);
  width: 100vw;
  height: 100vh;
}

main {
  width: 100%;
  height: 100%;
  padding: 24px;
}

.background-canvas {
  position: 'relative';
  width: 100%;
  height: 100%;
}

.body-text {
  size: 1rem;
}

.body-text-link {
  color: var(--color-text-link);
}

.body-text-link:visited {
  color: var(--color-text-link-visited);
}

/* Dropdowns */
.card-data::-webkit-scrollbar {
  width: 5px;
}

.card-data::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
  border-radius: 12px;
}

.card-data::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Main Card */
.card-base {
  width: 100%;
  height: 100%;
  background-color: 'transparent';
  border: 2px solid var(--color-secondary);
  padding: 16px;
  color: var(--color-text);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 400;
}

.card-base-container {
  margin-top: 50px;
  flex: 1;
}

.card-canvas {
  position: 'relative';
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.dropdown-container {
  position: relative;
  flex: 1 0 auto;
}

/* Expandable Cards */
.card-expandable-border {
  border: 2px solid var(--color-secondary);
  border-radius: 0px;
  background-color: transparent;
  min-width: 1;
  min-height: 1;
}

.card-expandable-content {
  width: 100%;
  height: 100%;
}

.card-expandable-content>div {
  background-color: var(--color-background);
  height: 100%;
  width: 100%;
}

.card-expandable p {
  color: black;
}

.card-connection {
  display: flex;
  gap: 300px;
}

svg {
  max-width: 100%;
  max-height: 100%;
}

.card-title-content {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-title-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-title-arrow {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-title-body { 
  font-size: 0.8rem;
}

/* Detail cards */

.card-close-button {
  
  background-color: transparent;
  border: none;
  color: white;
  
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1.5rem;
  font-weight: 500;
  transition:  0.3s;
}

.card-close-button:hover {
  color: var(--color-secondary)
}

.card-data {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
  overflow-y: scroll;
}

/* Card Dropdown */

.dropdown-option {
  border: 2px solid var(--color-secondary);
  background-color: var(--color-background);
  display: flex;
  justify-content: center;
}

.dropdown-selected-content {
  display: flex;
  justify-content: center;
}

.project-info-container {
  width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  padding-bottom: 12px;
}

.project-info-container {
  border-bottom: 1px solid var(--color-primary);
}

.project-info-list {
  display: flex;
  gap: 4px;
  align-items: center;
  flex-wrap: wrap;

  width: 100%;
  height: fit-content;
}

.project-info-pill {
  background-color: var(--color-text-link-visited);
  border-radius: 8px;
  border: none;
  padding: 4px;
  color: var(--color-background);
}

.project-info-links {
  width: 100%;
  display: flex;
  gap: 4px;
  align-items: center;
}

.project-info-link {
  background-color: var(--color-background);
  border: none;
  padding: 4px;
}

.latest-container {
  margin-top: 8px;
  border: 1px solid white;
  padding: 8px;
  background-color: var(--color-background);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.latest-link {
  border-radius: 8px;
  width: fit-content;
  padding: 8px;
  color: white;
}

.latest-link-text {
  color: var(--color-text-link-visited);
}

/* YouTube Lite Embedding */
.yt-lite {
    background-color: #000;
    position: relative;
    display: block;
    contain: content;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
}

/* gradient */
.yt-lite::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    background-position: top;
    background-repeat: repeat-x;
    height: 60px;
    padding-bottom: 50px;
    width: 100%;
    transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.matrix-char-text {
  color: white;
}

/* responsive iframe with a 16:9 aspect ratio
    thanks https://css-tricks.com/responsive-iframes/
*/
.yt-lite::after {
    content: "";
    display: block;
    padding-bottom: calc(100% / (16 / 9));
}
.yt-lite > iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* play button */
.yt-lite > .lty-playbtn {
    width: 65px;
    height: 46px;
    z-index: 1;
    opacity: 0.8;
    border: none;
    background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20id%3D%22YouTube_Icon%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%201024%20721%22%20enable-background%3D%22new%200%200%201024%20721%22%20xml%3Aspace%3D%22preserve%22%3E%3Cscript%20xmlns%3D%22%22%3E%0A%20%20%20%20try%20%7B%0A%20%20%20%20%20%20Object.defineProperty(navigator%2C%20%22globalPrivacyControl%22%2C%20%7B%0A%20%20%20%20%20%20%20%20value%3A%20false%2C%0A%20%20%20%20%20%20%20%20configurable%3A%20false%2C%0A%20%20%20%20%20%20%20%20writable%3A%20false%0A%20%20%20%20%20%20%7D)%3B%0A%20%20%20%20%20%20document.currentScript.parentElement.removeChild(document.currentScript)%3B%0A%20%20%20%20%7D%20catch(e)%20%7B%7D%3B%0A%20%20%20%20%20%20%3C%2Fscript%3E%0A%3Cpath%20id%3D%22Triangle%22%20fill%3D%22%23FFFFFF%22%20d%3D%22M407%2C493l276-143L407%2C206V493z%22%2F%3E%0A%3Cpath%20id%3D%22The_Sharpness%22%20opacity%3D%220.12%22%20fill%3D%22%23420000%22%20d%3D%22M407%2C206l242%2C161.6l34-17.6L407%2C206z%22%2F%3E%0A%3Cg%20id%3D%22Lozenge%22%3E%0A%09%3Cg%3E%0A%09%09%0A%09%09%09%3ClinearGradient%20id%3D%22SVGID_1_%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%22512.5%22%20y1%3D%22719.7%22%20x2%3D%22512.5%22%20y2%3D%221.2%22%20gradientTransform%3D%22matrix(1%200%200%20-1%200%20721)%22%3E%0A%09%09%09%3Cstop%20offset%3D%220%22%20style%3D%22stop-color%3A%23E52D27%22%2F%3E%0A%09%09%09%3Cstop%20offset%3D%221%22%20style%3D%22stop-color%3A%23BF171D%22%2F%3E%0A%09%09%3C%2FlinearGradient%3E%0A%09%09%3Cpath%20fill%3D%22url(%23SVGID_1_)%22%20d%3D%22M1013%2C156.3c0%2C0-10-70.4-40.6-101.4C933.6%2C14.2%2C890%2C14%2C870.1%2C11.6C727.1%2C1.3%2C512.7%2C1.3%2C512.7%2C1.3%20%20%20%20h-0.4c0%2C0-214.4%2C0-357.4%2C10.3C135%2C14%2C91.4%2C14.2%2C52.6%2C54.9C22%2C85.9%2C12%2C156.3%2C12%2C156.3S1.8%2C238.9%2C1.8%2C321.6v77.5%20%20%20%20C1.8%2C481.8%2C12%2C564.4%2C12%2C564.4s10%2C70.4%2C40.6%2C101.4c38.9%2C40.7%2C89.9%2C39.4%2C112.6%2C43.7c81.7%2C7.8%2C347.3%2C10.3%2C347.3%2C10.3%20%20%20%20s214.6-0.3%2C357.6-10.7c20-2.4%2C63.5-2.6%2C102.3-43.3c30.6-31%2C40.6-101.4%2C40.6-101.4s10.2-82.7%2C10.2-165.3v-77.5%20%20%20%20C1023.2%2C238.9%2C1013%2C156.3%2C1013%2C156.3z%20M407%2C493V206l276%2C144L407%2C493z%22%2F%3E%0A%09%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E");
    transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}
.yt-lite:hover > .lty-playbtn {
    opacity: 1;
}
/* play button triangle */
.yt-lite > .lty-playbtn:before {
    content: '';
    border-style: solid;
    border-width: 11px 0 11px 19px;
    border-color: transparent transparent transparent #fff;
}

.yt-lite > .lty-playbtn,
.yt-lite > .lty-playbtn:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

/* Post-click styles */
.yt-lite.lyt-activated {
    cursor: unset;
}
.yt-lite.lyt-activated::before,
.yt-lite.lyt-activated > .lty-playbtn {
    opacity: 0;
    pointer-events: none;
}